<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This sites is all about CRUD operation like creating users, reading or called finding users, updating the users 
      if necessary and at last deleting the users if the admin or certain users required. In case of nodejs it takes hard works and somehow better knowledge of javascript and i learned about nodejs , express and mongoose that i have suffered before doing this project.  </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>